{% extends "zinnia/skeleton.html" %}
{% load zinnia_tags tagging_tags i18n %}

{% block meta %}
    <meta name="generator" content="Zinnia {{ ZINNIA_VERSION }}" />
{% endblock %}

{% block link %}
    <link rel="index" href="{% url zinnia_entry_archive_index %}" />
    <link rel="EditURI" type="application/rsd+xml" href="{% url zinnia_rsd %}" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="{% url zinnia_wlwmanifest %}" />
    <link rel="search" type="application/opensearchdescription+xml" title="Zinnia's Blog" href="{% url zinnia_opensearch %}" />
    <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of latest entries" %}" href="{% url zinnia_entry_latest_feed %}" />
    {% get_archives_entries "zinnia/tags/archives_entries_link.html" %}
{% endblock %}

{% block breadcrumbs %}
  {% zinnia_breadcrumbs %}
{% endblock %}

{% block sidebar %}
<div class="search">
  <h3>{% trans "Search" %}</h3>
  <form method="get" id="searchform" action="{% url zinnia_entry_search %}">
    <p>
      <input type="text" value="{% trans "Keywords..." %}" name="pattern" id="searchbox" onfocus="this.value=''" />
      <input type="submit" class="submitbutton" value="OK" />
      <a title="{% trans 'You can use - to exclude words or phrases, &quot;double quotes&quot; for exact phrases and the AND/OR boolean operators combined with parenthesis for complex searchs.' %}">
        <img src="{{ STATIC_URL }}img/help.png" alt="?" width="14" height="14" />
      </a>
    </p>
  </form>
</div>
<div class="categories">
  <h3>{% trans "Categories" %}</h3>
  {% get_categories %}
</div>
<div class="authors">
  <h3>{% trans "Authors" %}</h3>
  {% get_authors %}
</div>
<div class="calendar">
  <h3>{% trans "Calendar" %}</h3>
  {% get_calendar_entries %}
</div>
<div class="tags">
  <h3>{% trans "Tags" %}</h3>
  {% get_tag_cloud %}
</div>
<div class="recents">
  <h3>{% trans "Recent entries" %}</h3>
  {% get_recent_entries 5 %}
</div>
<div class="comments">
  <h3>{% trans "Recent comments" %}</h3>
  {% get_recent_comments 5 %}
</div>
<div class="linkbacks">
  <h3>{% trans "Recent linkbacks" %}</h3>
  {% get_recent_linkbacks 5 %}
</div>
<div class="randoms">
  <h3>{% trans "Random entries" %}</h3>
  {% get_random_entries 5 %}
</div>
<div class="populars">
  <h3>{% trans "Popular entries" %}</h3>
  {% get_popular_entries 5 %}
</div>
<div class="archives">
  <h3>{% trans "Archives" %}</h3>
  {% get_archives_entries_tree %}
</div>
{% if user.is_authenticated %}
<div class="tools">
  <h3>{% trans "Tools" %}</h3>
  <ul>
    {% if perms.zinnia %}
    <li>
      <a href="{% url admin:app_list "zinnia" %}" title="{% trans "Dashboard" %}">
        {% trans "Dashboard" %}
      </a>
    </li>
    {% endif %}
    {% if perms.zinnia.add_entry %}
    <li>
      <a href="{% url admin:zinnia_entry_add %}" title="{% trans "Post an entry" %}">
        {% trans "Post an entry" %}
      </a>
    </li>
    {% endif %}
    {% block admin_tools %}
    {% endblock %}
    <li>
      <a href="{% url admin:logout %}" title="{% trans "Log out" %}">
        {% trans "Log out" %}
      </a>
    </li>
  </ul>
</div>
{% endif %}
{% endblock %}
