{% load bootstrap %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    {% bootstrap_css %}
</head>
<body>
<div class="container-fluid">
    <div class="sidebar">
        ...
    </div>
    <div class="content">
        ...
    </div>
</div>
</body>
</html>